#Messagelist.list-cell {
    -fx-cell-size: 100 ;
    -fx-animated: true;
    -fx-padding: 1px;
}

#Messagelist.list-cell:hover{
    -fx-background-color: #dbdbdb;
}


#Messagelist .list-cell:even {
    -fx-background-color: #dfdfdf;
}
#Messagelist .list-cell:odd {
    -fx-background-color: #DFDFDF;
}

.jfx-snackbar-content{
    -fx-background-color: #2cc700;
}

.jfx-snackbar-toast{
    -fx-text-fill: #ffffff;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-image-width: 0;
}

#statusList {
    -fx-box-border: transparent;
}

#userList {
    -fx-box-border: transparent;
}

#listHbox {
    -fx-background-color: #d5d5d5;
    -fx-padding: 0.2;
    -fx-spacing: -2;
}

#onlineUsersHbox {
    -fx-border-color: #d5d5d5;
    -fx-border-width: 1px;
    -fx-padding: 0.2;
    -fx-spacing: -2;
}

#chanelPan.list-cell:even {
    -fx-background-color: #2b2b2b;
}

.text-area .content {
    -fx-background-color: #383b3f;
    -fx-text-fill: #f9fdff;
}

.text-area {
    -fx-text-fill: #f9fdff;
}



